.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: floralwhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
